appnope==0.1.0
asgiref==3.2.10
backcall==0.2.0
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
decorator==4.4.2
Django==3.0.8
django-rest-swagger==2.2.0
django-storages==1.7.1
djangorestframework==3.11.0
drf-yasg==1.17.1
google-api-core==1.22.0
google-auth==1.20.0
google-cloud-core==0.28.1
google-cloud-storage==1.10.0
google-crc32c==0.1.0
google-resumable-media==0.7.0
googleapis-common-protos==1.52.0
idna==2.10
inflection==0.5.1
ipdb==0.13.3
ipinfo==3.0.0
ipinfo-django==1.1.0
ipython==7.17.0
ipython-genutils==0.2.0
itypes==1.2.0
jedi==0.17.2
Jinja2==2.11.2
MarkupSafe==1.1.1
openapi-codec==1.3.2
packaging==20.4
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.6
protobuf==3.12.4
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.6.1
pyparsing==2.4.7
pytz==2020.1
requests==2.24.0
rsa==4.6
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
simplejson==3.17.2
six==1.15.0
sqlparse==0.3.1
traitlets==4.3.3
uritemplate==3.0.1
urllib3==1.25.10
uuid==1.30
wcwidth==0.2.5
